# Copyright 2008 Kevin Ryde

# This file is part of Perl-Critic-Pulp.
#
# Perl-Critic-Pulp is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by the
# Free Software Foundation; either version 3, or (at your option) any later
# version.
#
# Perl-Critic-Pulp is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
# or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
# for more details.
#
# You should have received a copy of the GNU General Public License along
# with Perl-Critic-Pulp.  If not, see <http://www.gnu.org/licenses/>.


Source: libperl-critic-pulp-perl
Section: perl
Priority: optional
Build-Depends: cdbs, debhelper (>= 4)
Maintainer: Kevin Ryde <user42@zip.com.au>
Standards-Version: 3.8.0
Homepage: http://www.geocities.com/user42_kevin/perl-critic-pulp/index.html
Bugs: mailto:user42@zip.com.au

Package: libperl-critic-pulp-perl
Architecture: all
Depends: perl (>= 5.6), libperl-critic-perl (>= 1.082)
Description: Some add-on policies for perlcritic
 This is a couple of further policies for perlcritic:
 .
  * ConstantBeforeLt -- avoid problems with "FOO < 123"
  * NotWithCompare -- avoiding problems with "! $x == $y"
  * ProhibitNullStatements -- find stray semicolons
  * TextDomainPlaceholders -- check args to __x and __nx
  * UnexpandedSpecialLiteral -- check __PACKAGE__ etc unexpanded
